[submodule "src/henriquemattos.eu"]
	path = src/henriquemattos.eu
	url = git@github.com:visualworks/henriquemattos.eu.git
[submodule "web/henriquemattos.eu"]
	path = web/henriquemattos.eu
	url = git@github.com:visualworks/henriquemattos.eu.git
